#form{
	max-width: 400px;
	text-align:center;
	margin: 50px auto;
}

mat-form-field {
	width: 100%;
}
#legende{
	font-size:1.9em;
	text-align:center;
	margin-bottom:1px solid black;
}

button{
	margin: 10px auto;
}