<mat-card id="form">
	<div id="legende">Enregistrement</div>
	
		<form [formGroup]="userForm" (ngSubmit)="onsubmit()">
			<mat-form-field floatLabel="auto">
				 <mat-label>login</mat-label>
			     <input matInput formControlName="nom">
			</mat-form-field>
			<mat-form-field floatLabel="auto">
				 <mat-label>Prenom</mat-label>
			     <input matInput formControlName="prenom">
			</mat-form-field>
			<mat-form-field floatLabel="auto">
				 <mat-label>Login</mat-label>
			     <input matInput formControlName="login">
			</mat-form-field>
			<mat-form-field floatLabel="auto">
				 <mat-label>e-mail</mat-label>
			     <input matInput formControlName="email">
			</mat-form-field>
			<mat-form-field floatLabel="auto">
				 <mat-label> Mot_de_passe </mat-label>
			     <input matInput formControlName="motdepasse">
			</mat-form-field>
			
			<button id="send" type="submit"  mat-raised-button color="success" [disabled]="userForm.invalid"> enregistrer</button>

		</form>
</mat-card>