#aside{
	width:15%;
	height:450px;
	float:left;
	background-color:rgb(211,209,210);
	margin-top:25px;
	margin-left:15px;
}
#content{
	width:75%;
	height:450px;
    float:right;
	margin-top:25px;
	background-color:rgb(211,209,210);
	margin-right:15px;
}
#visi{
	font-size:1.9em;
	text-align:center;
	margin-top:150px;
	margin-left:20px;	
}

#para{
	font-size:1.9em;
	text-align:center;
	margin-top:150px;
	margin-left:20px;	
}

